{% extends 'base.html' %}
{% block content %}

        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        {% if  category_posts%}
                <h1>{{cats}} Categories</h1>
                <ul>
                {% for post in category_posts %}
                        <li><a href="">{{post.title}}</a>-
                        {{post.author.first_name}}-{{post.author.last_name}} - {{post.post_date}} -
                        <small>
                            {% if user.is_authenticated %}
                                <a href='{%url 'update_post' post.pk %}'>Edit</a>
                                <a href='{%url 'delete_post' post.pk %}'>Delete</a>
                            {% endif %}
                        </small><br>
                    {{post.body|slice:":200"|safe}}</li>
            {% endfor %}
                </ul> 
        {% else %}
                Sorry this place does not exist!!
        {% endif %}
{% endblock%}